/* ==============================
   Variables de colores
============================== */
:root {
  --primary: #688549;
  --secondary: #a95038;
  --background: #EBE5DD;
  --text: #333333;
}

/* HEADER */
.header {
  background: #688549;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 50px;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.header h1 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 400;
}

nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

@media(max-width:600px){
  nav a { margin-left: 0.5rem; font-size: 0.9rem; }
}


.btn-volver {
  background-color: var(--primary);
  color: white;
  border: none;
  font-weight: 500;
}

.btn-volver:hover {
  background-color: #54713b;
  color: white;
}


/* Container */
body {
  background: var(--background);
  font-family: Arial, sans-serif;
  color: var(--text);
}

/* Título + botón */
.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.title-section h2 {
  font-weight: bold;
}

/* Botones */
.btn-primary {
  background-color: var(--primary);
  border: none;
}
.btn-primary:hover {
  background-color: #54713b;
}
.btn-secondary {
  background-color: var(--secondary);
  border: none;
}
.btn-secondary:hover {
  background-color: #883b29;
}

/* Estilo más limpio para los chips */
  #tagContainer .badge {
    font-size: 0.9rem;
    padding: 0.5em 0.75em;
    border-radius: 20px;
    color: #688549 !important; /* verde primary */
    background-color: #68854934 !important; /* verde primary */

    color: #fff;
  }

/* Badge confirmación */
.badge-confirm {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  z-index: 1055;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.badge-confirm.show {
  opacity: 1;
  transform: translateY(0);
}
