:root {
  --primary: #688549;
  --secondary: #a95038;
  --background: #EBE5DD;
  --text: #333333;
}

/* BODY */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background-color: var(--primary);
  color: white;
  height: 70px;
}

.header .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

/* CARDS ADMIN */
.admin-card {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px; /* más cuadrada */
  text-align: center;
  padding: 3rem;
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.admin-card .card-title {
  font-weight: bold;
  margin-bottom: 2rem;
}

.admin-card .card-subtitle {
  color: #555;
  font-size: 0.9rem;
}

/* BADGE */
.badge-notification {
  background-color: var(--secondary);
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  font-size: 25px;
  padding: 3px;
}

/* Modal centrado y elegante */
.modal-content {
  border-radius: 10px;
  padding: 1rem;
}

/* Botones personalizados */
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: #54713b; /* versión más oscura para hover */
  border-color: #54713b;
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #87352b;
  border-color: #87352b;
}

/* Mensajes de validación */
.invalid-feedback {
  display: none;
  font-size: 0.85rem;
  color: red;
  margin-top: 0.25rem;
}

/* Mostrar mensaje si es inválido */
select:invalid ~ .invalid-feedback {
  display: block;
}

/* Badge de confirmación inferior */
.badge-confirm {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  z-index: 1055;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.badge-confirm.show {
  opacity: 1;
  transform: translateY(0);
}