/* Colores principales */
:root {
  --primary: #688549;
  --secondary: #a95038;
  --background: #EBE5DD;
  --text: #333333;
}

/* RESET básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: var(--background);
}

/* HEADER */
.main-header {
  background-color: var(--primary);
  color: white;
  padding: 0.8rem 1.5rem;
}

.main-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}


/* FOOTER */
.main-footer {
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.footer-container a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-container a:hover {
  text-decoration: underline;
}

/* Contenido */
.content {
  padding: 1.5rem;
  margin-bottom: 60px; /* espacio para el footer */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Filtros */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: center;
  margin: 1rem 0;
}

.search-box {
  display: flex;
}

.search-box input {
  padding: 0.4rem;
  border: 1px solid #ccc;
}

.btn-search {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

/* CARD FILTROS */
.filters-card {
  background-color: white;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 1rem 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

/* Campos Select e Input */
.filters select,
.filters input[type="text"] {
  padding: 0.5rem 0.7rem;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid var(--primary);
  background-color: white;
  font-size: 0.95rem;
  outline: none;
}

/* Mantener botones en fila a la derecha */
.buttons-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  width: 100%;
  margin-top: 0.8rem;
}

/* Ajuste para el input y botón de búsqueda */
.search-box {
  display: flex;
}

.search-box input {
  border-right: none;
}

.btn-search {
  border-radius: 0 6px 6px 0;
  border-left: none;
}


/* Botones */
.btn-primary {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-secondary {
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* Mapa */
.map-container {
  margin-top: 1rem;
}
#map {
  height: 400px;
  width: 90%;
  border: 2px solid var(--primary);
  border-radius: 6px;
  margin: 0 auto;
}
